<h2>Home</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h4 class="text-center"> Flag Quiz</h4>
            <a ui-sref="flag">
                <img src="../image/flag.svg" alt="...">
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h4 class="text-center"> Map Quiz</h4>
            <a ui-sref="map">
                <img src="../image/map.svg" alt="...">
            </a>
        </div>
    </div>
</div>